.header{
    margin-top: 60px;
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', Serif;
    color: #444;   
}

.headerTitlesSm{
    position: relative;
    top: 8%;
    font-size: 20px;
}

.headerTitleLg{
    position: absolute;
    top: 30%;
    font-size: 80px;
    z-index: 99;
}

.headerImg{
    width: 100%;
    height: 350px;
    /* margin-top: 30px; */
    object-fit: cover;
    opacity: 0.5;
}